@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Roboto:wght@300;400&display=swap");

.main {
	background-color: #e7e5eb;
	min-height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Inter", sans-serif;
	font-family: "Roboto", sans-serif;
}
.screen1 {
	background-color: white;
	border-radius: 10px;
	padding: 20px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 480px;
	width: 100%;
}
.screen2 {
	background-color: white;
	border-radius: 10px;
	padding: 30px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 480px;
	width: 100%;
}

.airdropHeading {
	font-size: 35px;
	margin-top: 1em;
}
.connectWallet {
	background-color: rgb(213, 0, 102);
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: 500;
	padding: 16px;
	width: 100%;
	font-weight: 500;
	text-align: center;
	border-radius: 20px;
	outline: none;
	border: 1px solid transparent;
	text-decoration: none;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	z-index: 1;
	will-change: transform;
	transition: transform 450ms ease 0s;
	transform: perspective(1px) translateZ(0px);
}

.receiveAirdrop {
	background-color: rgb(213, 0, 102);
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: 500;
	padding: 16px;
	width: 100%;
	font-weight: 500;
	text-align: center;
	border-radius: 20px;
	outline: none;
	border: 1px solid transparent;
	text-decoration: none;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	z-index: 1;
	will-change: transform;
	transition: transform 450ms ease 0s;
	transform: perspective(1px) translateZ(0px);
}

.input1,
.input2 {
	display: flex;
	flex-flow: column nowrap;
	position: relative;
	border-radius: 20px;
	background-color: rgb(237, 238, 242);
	z-index: 1;
	width: 100%;
	transition: height 1s ease 0s;
	will-change: height;
}
.input2 {
	margin-top: 25px;
	margin-bottom: 25px;
}
.innerInput1,
.innerInput2 {
	display: flex;
	flex-flow: row nowrap;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 1rem;
}

.ethBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-box-align: center;
	align-items: center;
	background-color: rgb(237, 238, 242);
	box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
	color: rgb(0, 0, 0);
	cursor: pointer;
	border-radius: 16px;
	outline: none;
	user-select: none;
	border: none;
	font-size: 24px;
	font-weight: 500;
	height: 2.4rem;
	width: initial;
	padding: 0px 8px;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-left: 12px;
	visibility: visible;
}
.shibBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-box-align: center;
	align-items: center;
	background-color: rgb(232, 0, 111);
	box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	border-radius: 16px;
	outline: none;
	user-select: none;
	border: none;
	font-size: 24px;
	font-weight: 500;
	height: 2.4rem;
	width: initial;
	padding: 0px 8px;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-left: 12px;
	visibility: visible;
}
.input {
	color: black;
	width: 100%;
	padding: 5px;
	border: none;
	background: transparent;
	font-size: 28px;
}
.ethBtn img {
	margin-left: 10px;
}
.shibBtn img {
	margin-left: 10px;
}
.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	height: 10px;
}
.downIcon {
	background: #fdeaf1;
	box-sizing: border-box;
	padding: 5px;
	font-size: 41px;
	border-radius: 50%;
}
.balance {
	display: flex;
	width: 100%;
}
.balance p {
	margin-right: 10px;
	margin-left: auto;
	margin-top: 5px;
	font-size: 12px;
	color: #e8006f;
}
.disconnect {
	color: #e8006f;
}
.address {
	background-color: rgb(237 238 242);
	color: black;
	padding: 9px 18px;
	border-radius: 18px;
}
.wallets {
	background-color: rgb(237, 238, 242);
	padding: 1rem;
	outline: none;
	border: 1px solid rgb(206, 208, 217);
	border-radius: 12px;
	width: 100% !important;
	display: flex;
	flex-direction: row;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-top: 1rem;
	cursor: pointer;
}
.tos {
	background-color: rgb(237 238 242 / 44%);
	padding: 1rem;
	outline: none;
	border: 1px solid rgb(206, 208, 217);
	border-radius: 12px;
	width: 100% !important;
	display: flex;
	flex-direction: row;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-top: 1rem;
}
.tos p span {
	color: #e8006f;
}
.loader {
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid rgb(232, 0, 111);
	width: 25px;
	height: 25px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

.mainLoader {
	border: 10px solid #f3f3f3;
	border-radius: 50%;
	border-top: 10px solid rgb(232, 0, 111);
	width: 100px;
	height: 100px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
